.logoDi a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    color: #fff;
    text-transform: uppercase;
}
.logoDi, .nav{
    float: left;
    width: 50%;
}